<div class="footer-basic">
  <footer>
    <div class="social">
      <a href="https://discord.com/"><i class="fab fa-discord"></i></a>
      <a href="https://es-es.facebook.com/"><i class="fab fa-facebook-square"></i></a>
      <a href="https://www.instagram.com/?hl=es"><i class="fab fa-instagram"></i></a>
      <a href="https://web.telegram.org/k/"><i class="fab fa-telegram"></i></a>
    </div>
    <ul class="list-inline">
      <li class="list-inline-item"><a jhiTranslate="global.homePage" href="#">Home</a></li>
    </ul>
    <p class="copyright">CopyRight © Apollo 2021</p>
  </footer>
</div>
