<div class="footer-basic">
  <footer>
    <div class="social">
      <a href="https://discord.com/"><img class="imagen" src="../../../content/images/wallPaper/discord.jpg" alt="discord" /></a>
      <a href="https://es-es.facebook.com/"><img class="imagen" src="../../../content/images/wallPaper/facebook.jpg" alt="facebook" /></a>
      <a href="https://www.instagram.com/?hl=es"
        ><img class="imagen" src="../../../content/images/wallPaper/instagram.jpg" alt="instagram"
      /></a>
      <a href="https://web.telegram.org/k/"><img class="imagen" src="../../../content/images/wallPaper/telegram.jpg" alt="telegram" /></a>
    </div>
    <ul class="list-inline">
      <li class="list-inline-item"><a jhiTranslate="global.homePage" href="#">Home</a></li>
    </ul>
    <p class="copyright">CopyRight © Apollo 2021</p>
  </footer>
</div>
